.container {
    /* border: solid black 1px; */
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    color: var(--textSoft);
    /* background-color: var(--footerbg); */
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
  }

  .text {
    font-size: 12px;
  }