.container {
  position: sticky;
  top: 40px;
}

.header {
  text-align: center;
}
.separator {
  border: solid rgba(255, 255, 255, 0.183) 1px;
  width: 85%;
  margin: 10px auto;
}
.user {
  /* border: solid black 1px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 15px;
  margin: 20px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}

.userDetail {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.userTitle {
  font-size: 14px;
  color: var(--text);
}

.list {
  /* border: solid black 1px; */
  list-style: none;
}

.list li:last-child {
  /* margin-top: 20px; */
  /* border: solid black 1px; */
}

.cat {
  color: var(--text);
  font-weight: bold;
  font-size: 13px;
  margin: 10px 10px;
}

.logout {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  /* border-radius: 10px; */
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.logout:hover {
  /* background-color: #2e374a; */
  background-color: #123d0444;
}