.container {
  display: flex;
  /* height: 100vh; */
}

.menu {
  flex: 2;
  background-color: var(--primary);
  color: white;
  padding: 10px 0;
}
.icontgglesidebar {
  z-index: 9999;
  top: 10px;
  position: sticky;
  color: #123d0444;
  display: flex;
  align-items: right;
  justify-content: right;
  padding: 0 3px;
}

.icontgglesidebar p {
  cursor: pointer;
}

.retractedSidebar {
  width: 80px;
  background-color: var(--primary);
  color: white;
  padding: 10px 0;
  padding-left: 3px;
}
.content {
  flex: 8;
  padding: 20px;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.side {
    flex: 1;
}
