.container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 8px;
}

.input {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: var(--text);
}

.input:focus {
  outline: none;
}
