.container {
  /* background-color: var(--bg2); */
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .addButton {
  border: solid black 1px;
  padding: 10px;
  background-color: var(--primary);
  color: var(--textSoft2);
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */
